.footer {
  @include centerSize(1600px);
  background: #222224;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 655px;
    padding: 24px 0;
  }
  &__nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31.45px;
    height: 32px;
    background: #ffffff;
    fill: #000;
    transition: all 0.3s;
  }
  &__nav-button:hover path {
    fill: #ffffff;
  }
  &__nav-button:hover {
    background: #f16d7f;
  }
  &__content p {
    width: 332px;
    text-align: left;
    color: #fbfbfb;
    font-size: 16px;
  }
  &__nav {
    display: flex;
    gap: 7.3px;
  }
}
