.info-products {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 48px;
    &__title {
      font-weight: 400;
      font-size: 30px;
      color: #222;
    }
    &__text {
      font-weight: 400;
      font-size: 14px;
      color: #9f9f9f;
    }
  }
