.product-details {
	@include centerSize(1600px);
	box-sizing: border-box;
	padding-top: 11px;
	padding-bottom: 42px;
	background-color: #f7f7f7;
	border-top: 2px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
	&__swiper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 597px;
		height: 724px;
	}
}

.swiper-button-next,
.swiper-button-prev {
	color: $colorText2 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	color: $colorText !important;
}
