@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  font-family: Lato;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

body,
html {
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
}

a,
summary,
label,
input,
button {
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

summary::-webkit-details-marker {
  display: none;
}

.none {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222222;
  height: 75px;
}
.header__size {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
}
.header__left {
  display: flex;
  align-items: flex-end;
  gap: 41px;
}

.nav {
  padding: 9px 0 0 0;
  padding-right: 9px;
  display: flex;
  align-items: center;
  gap: 33px;
  position: relative;
}
.nav__number {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 25px;
  padding: 3px 6px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  background-color: #f16d7f;
}
.nav__input-burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
.nav__input-burger:checked ~ .nav__burger-menu {
  right: 0;
  visibility: visible;
  z-index: 4;
}
.nav__input-burger:checked ~ .nav__label svg {
  fill: #F16D7F;
}
.nav__burger-menu {
  top: 57px;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  position: absolute;
  right: -470px;
  transition: right 0.3s;
  visibility: hidden;
}
.nav__link:hover path {
  fill: #F16D7F;
}

.menu {
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-left: 32px;
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.menu__nav {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 5px;
  right: 10px;
  visibility: hidden;
  transition: all 0.3s;
}
.menu__nav svg {
  width: 25px;
}
.menu__nav path {
  fill: #6f6e6e;
}
.menu__nav-link {
  opacity: 0;
  transition: all 0.3s;
}
.menu__nav-link:hover path {
  fill: #F16D7F;
}
.menu__nav-link-cart {
  position: relative;
}
.menu__nav-link-cart-count {
  position: absolute;
  top: -4px;
  right: -5px;
  font-size: 12px;
  font-weight: 700;
  background-color: #f16d7f;
  color: #fff;
  padding: 1px 5px;
  border-radius: 50%;
}
.menu__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}
.menu__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.menu__item-title {
  font-weight: 400;
  font-size: 14px;
  color: #f16d7f;
}
.menu__link {
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
  padding-left: 21px;
}
.menu__link:hover {
  color: #F16D7F;
}

.breadcrumb {
  background-color: #f1e4e6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.breadcrumb__content {
  display: flex;
  justify-content: space-between;
}
.breadcrumb__heading {
  font-weight: 400;
  font-size: 24px;
  color: #F16D7F;
}
.breadcrumb__ul {
  display: flex;
  list-style-type: none;
}
.breadcrumb__li:not(:last-child)::after {
  content: "/";
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 300;
  font-size: 14px;
  color: #6f6e6e;
}
.breadcrumb__link {
  font-weight: 300;
  font-size: 14px;
  color: #6f6e6e;
}
.breadcrumb__link_color {
  font-weight: 700;
  color: #F16D7F;
}

.cart-content {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-content__size {
  display: flex;
  justify-content: center;
}
.cart-content__box {
  display: flex;
  flex-direction: column;
}
.cart-content__box-title {
  font-size: 30px;
  padding-bottom: 64px;
}
.cart-content__empty {
  color: #F16D7F;
}
.cart-content__selected {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-content__selected-item {
  display: flex;
  width: 652px;
  height: 306px;
  box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
  background-color: #fff;
  transition: all 0.3s;
}
.cart-content__selected-item:hover {
  transform: scale(1.07);
}
.cart-content__img {
  width: 262px;
}
.cart-content__info {
  width: 390px;
  padding: 22px 22px 62px 30px;
}
.cart-content__heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: left;
  font-weight: 400;
  font-size: 24px;
}
.cart-content__title {
  width: 210px;
}
.cart-content__text-box {
  display: flex;
  align-items: flex-start;
  padding-top: 42px;
  flex-direction: column;
}
.cart-content__text {
  font-weight: 400;
  font-size: 22px;
  color: #575757;
}
.cart-content__text .text-color {
  color: #6f6e6e;
}
.cart-content__text:first-child .text-color {
  color: #F16D7F;
}
.cart-content__button {
  transition: all 0.3s;
}
.cart-content__button:hover path {
  fill: #F16D7F;
  transition: all 0.3s;
}
.cart-content__change {
  display: flex;
  gap: 10px;
}
.cart-content__quantity {
  width: 44px;
  margin-left: 5px;
  color: #6f6e6e;
  text-align: center;
}
.cart-content__quantity::-webkit-outer-spin-button, .cart-content__quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cart-content__bottom-box {
  padding-top: 72px;
  display: flex;
  gap: 192px;
}
.cart-content__bottom-button {
  width: 235px;
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border: 1px solid #a4a4a4;
  transition: all 0.3s;
}
.cart-content__bottom-button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
}
.cart-content__bottom-button:hover {
  background-color: #F16D7F;
  color: #fff;
  border: #F16D7F;
}
.cart-content__address-and-price {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.address {
  width: 360px;
  height: 272px;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.address__title {
  text-align: left;
}
.address__form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.address__input {
  font-size: 13px;
  border: 1px solid #a4a4a4;
  padding: 15px 0 15px 17px;
  outline: none;
}
.address__input::-moz-placeholder {
  color: #b1b1b1;
}
.address__input::placeholder {
  color: #b1b1b1;
}
.address__input::-webkit-outer-spin-button, .address__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.address__button {
  width: 100px;
  height: 35px;
  font-weight: 300;
  font-size: 11px;
  color: #4a4a4a;
  border: 1px solid #a4a4a4;
  transition: all 0.3s;
}
.address__button:hover {
  color: #fff;
  background-color: #F16D7F;
  border: #F16D7F;
}

.price {
  width: 360px;
  height: 214px;
  display: flex;
  flex-direction: column;
  background-color: #f5f3f3;
  padding: 39px 43px 42px;
}
.price__title {
  font-weight: 400;
  font-size: 11px;
  color: #4a4a4a;
  text-align: right;
  margin-bottom: 12px;
}
.price__title-indent {
  margin-left: 15px;
}
.price__subtitle {
  text-align: right;
  margin-bottom: 21px;
}
.price__subtitle-color {
  margin-left: 18px;
  font-weight: 700;
  color: #F16D7F;
}
.price__line {
  border: 1px solid #e2e2e2;
  margin-bottom: 17px;
}
.price__button {
  width: 273px;
  height: 50px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  transition: all 0.3s;
}
.price__button:hover {
  background-color: #F16D7F;
  color: #fff;
}

.subscribe-content__background {
  background-image: url(../img/subscribe_background.svg);
  display: flex;
  background-position: center;
  background-size: cover;
}
.subscribe-content__shadows {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.7);
}
.subscribe-content__info {
  display: flex;
  gap: 223px;
  flex-wrap: wrap;
  align-items: center;
}
.subscribe-content__left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 360px;
  margin-top: 97px;
  margin-bottom: 126px;
}
.subscribe-content__img {
  width: 96px;
}
.subscribe-content__text {
  font-size: 20px;
}
.subscribe-content__right {
  width: 557px;
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-content__h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 167%;
}
.subscribe-content__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  margin-bottom: 32px;
}
.subscribe-content__form {
  display: flex;
}
.subscribe-content__input {
  box-sizing: border-box;
  width: 256px;
  height: 49px;
  padding: 15px;
  border: none;
  background: #e1e1e1;
  border-radius: 25px 0 0 25px;
  font-size: 14px;
  color: #222224;
  outline-color: rgb(255, 106, 106);
}
.subscribe-content__button {
  width: 100px;
  height: 49px;
  padding: 15px;
  border: non;
  border-radius: 0 25px 25px 0;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #f16d7f;
}

.footer {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #222224;
}
.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 655px;
  padding: 24px 0;
}
.footer__nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31.45px;
  height: 32px;
  background: #ffffff;
  fill: #000;
  transition: all 0.3s;
}
.footer__nav-button:hover path {
  fill: #ffffff;
}
.footer__nav-button:hover {
  background: #f16d7f;
}
.footer__content p {
  width: 332px;
  text-align: left;
  color: #fbfbfb;
  font-size: 16px;
}
.footer__nav {
  display: flex;
  gap: 7.3px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__size {
    padding: 18px 16px;
  }
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header__size {
    padding: 18px 16px;
  }
  .banner__size {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
    gap: 39px;
    height: 367px;
  }
  .banner__img {
    width: 386px;
    height: 368px;
  }
  .banner__title {
    width: 311px;
    height: 92px;
    margin-top: 138px;
    margin-bottom: 138px;
  }
  .banner__title h1 {
    font-size: 44px;
  }
  .banner__title h2 {
    font-size: 24px;
  }
  .categories-content {
    gap: 20px;
    padding-bottom: 58px;
  }
  .category {
    min-width: 232px;
    height: 168px;
  }
  .category:hover {
    scale: 1.07;
  }
  .category4 {
    height: 116px;
  }
  .category4:hover {
    scale: 1.02;
  }
  .info-products {
    padding-bottom: 72px;
  }
  .products-content {
    gap: 16px;
    padding-bottom: 32px;
  }
  .all-products {
    padding-bottom: 64px;
  }
  .privileges-content__box {
    flex-direction: column;
    gap: 48px;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .subscribe-content__background {
    background-image: url(../img/subscribe_background2.svg);
  }
  .subscribe-content__info {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .subscribe-content__left {
    margin-top: 64px;
    margin-bottom: 25px;
  }
  .subscribe-content__right {
    height: 137px;
    margin-bottom: 140px;
  }
  .subscribe-content__h2 {
    line-height: 162%;
  }
  .footer__content {
    gap: 305px;
  }
  .footer__content p {
    width: 251px;
  }
}
@media (max-width: 767px) and (min-width: 375px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .header__size {
    padding: 18px 0;
  }
  .nav {
    flex-direction: row-reverse;
    padding-right: 0;
  }
  .nav__burger-menu {
    top: 56px;
  }
  .nav .menu__nav {
    visibility: visible;
    transition: all 0.3s;
  }
  .nav .menu__nav-link {
    opacity: 1;
  }
  .nav__link {
    display: none;
  }
  .nav__number {
    display: none;
  }
  .banner__size {
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
    height: 363px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .banner__img {
    display: none;
  }
  .banner__title {
    width: 263px;
    height: 66px;
    margin: 0;
    padding: 0 0 0 15px;
  }
  .banner__title h1 {
    font-size: 38px;
  }
  .banner__title h2 {
    font-size: 20px;
  }
  .categories-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding-bottom: 64px;
  }
  .category {
    min-width: 343px;
    max-height: 247px;
  }
  .category4 {
    width: 343px;
    height: 111px;
    background-position: center;
    background-size: cover;
  }
  .category4:hover {
    scale: 1.07;
  }
  .info-products {
    padding-bottom: 64px;
  }
  .products-content {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
    gap: 16px;
    padding-bottom: 40px;
  }
  .products-content__text {
    font-weight: 400;
    color: #5d5d5d;
  }
  .all-products {
    padding-bottom: 96px;
  }
  .privileges-content__box {
    padding-top: 48px;
    padding-bottom: 81px;
    gap: 46px;
  }
  .subscribe-content__background {
    background-image: url(../img/subscribe_background3.svg);
  }
  .subscribe-content__info {
    gap: 59px;
  }
  .subscribe-content__left {
    margin-bottom: 0;
  }
  .subscribe-content__right {
    margin-bottom: 110px;
  }
  .subscribe-content__h2 {
    line-height: 153%;
  }
  .subscribe-content__subtitle {
    width: 271px;
    font-size: 14px;
  }
  .subscribe-content__input {
    width: 238px;
  }
  .footer__content {
    flex-direction: column-reverse;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .footer__content p {
    width: 251px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cart-content {
    padding-top: 59px;
    justify-content: center;
  }
  .cart-content__selected-item {
    width: 734px;
  }
  .cart-content__info {
    width: 472px;
  }
  .cart-content__bottom-box {
    padding-top: 62px;
    padding-bottom: 64px;
    display: flex;
    gap: 48px;
    justify-content: center;
  }
  .cart-content__address-and-price {
    flex-direction: row;
    gap: 15px;
  }
  .address {
    margin-top: 0;
  }
  .price {
    margin-top: 39px;
  }
}
@media (max-width: 767px) and (min-width: 375px) {
  .breadcrumb__content {
    justify-content: center;
  }
  .cart-content {
    padding-top: 39px;
    padding-bottom: 96px;
    justify-content: center;
    gap: 48px;
  }
  .cart-content__selected {
    gap: 32px;
  }
  .cart-content__selected-item {
    width: 358px;
    height: 188px;
  }
  .cart-content__selected-item:hover {
    transform: scale(1.03);
  }
  .cart-content__img {
    width: 144px;
    height: 188px;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cart-content__info {
    width: 214px;
    padding: 13px 12px 37px 17px;
  }
  .cart-content__title {
    font-size: 16px;
    display: inline-block;
    width: 127px;
  }
  .cart-content__button svg {
    width: 10px;
    height: 12px;
  }
  .cart-content__text-box {
    padding-top: 25px;
    font-size: 14px;
  }
  .cart-content__text {
    font-size: 14px;
  }
  .cart-content__quantity[type=number] {
    width: 24px;
    height: 15px;
    font-size: 10px;
  }
  .cart-content__bottom-box {
    padding-top: 30px;
    gap: 9px;
  }
  .cart-content__bottom-button {
    width: 175px;
    height: 33px;
    font-size: 12px;
  }
  .cart-content__address-and-price {
    gap: 48px;
  }
  .address {
    margin-top: 0;
  }
}/*# sourceMappingURL=cart.css.map */