@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap');

@import './vars';
@import './mixins';
@import './header';
@import './breadcrumb';
@import './product-details';
@import './product-description';
@import './products-content';

.products-content {
	display: grid;
	gap: 30px;
	&__recommendation {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		padding-bottom: 48px;
	}
}

@import 'subscribe-content';
@import 'footer';
@import 'media';

@media (min-width: 768px) and (max-width: 1024px) {
	.product-details {
		@include centerSize(768px);
		height: 626px;
		padding: 30px 0;

		&__img {
			width: 466px;
			height: 565px;
		}
	}

	.product-description {
		display: flex;
		justify-content: center;
		border-bottom: 2px solid #eaeaea;
		height: 600px;
		margin-bottom: 128px;
		&__box {
			width: 768px;
			position: static;
			border: none;
			border-bottom: 2px solid #eaeaea;
		}
	}

	.products-content {
		&__recommendation {
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
	}
	.products-content__item:nth-child(3) {
		display: none;
	}
}

@media (max-width: 767px) and (min-width: 375px) {
	.breadcrumb {
		padding-top: 24px;
		padding-bottom: 46px;

		&__content {
			flex-wrap: wrap;
			justify-content: center;
			gap: 32px;
		}
	}

	.product-details {
		@include centerSize(375px);
		padding: 85px 0;
		justify-content: center;

		&__img {
			width: 374px;
			height: 454px;
			position: relative;
		}

		&__slider {
			position: absolute;
			z-index: 2;

			&-left {
				left: 0;
			}

			&-right {
				right: 0;
			}
		}
	}

	.product-description {
		display: flex;
		justify-content: center;
		border-bottom: 2px solid #eaeaea;
		height: 600px;
		margin-bottom: 64px;
		box-sizing: border-box;
		&__box {
			height: 600px;
			justify-content: center;
			width: 375px;
			position: static;
			border: none;
			border-bottom: 2px solid #eaeaea;

			&-up {
				padding-bottom: 31px;
			}

			&-down {
				padding-top: 48px;
				gap: 64px;
			}
		}

		&__subtitle {
			margin-bottom: 19px;
		}

		&__text {
			width: 326px;
		}

		&__line2 {
			width: 175px;
		}

		&__summary {
			font-size: 10px;
		}
	}

	.product-bottom {
		height: 24px;
	}

	.products-content {
		&__recommendation {
			grid-template-columns: repeat(1, 1fr);
			gap: 16px;
		}
	}
	.products-content__item:nth-child(3) {
		display: none;
	}
}
