.card {
	border: solid 1px rgb(105, 13, 13);
	width: 250px;
	text-align: center;
	&__header {
    display: block;
		background-color: rgb(170, 170, 170);
		color: rgb(105, 13, 13);
		padding: 10px;
	}

	&__message {
    display: block;
		background-color: rgb(105, 13, 13);
		color: white;
		padding: 5px;
	}
}
